body{
  background-image: url('../img/background-reciclaje.jpg');
  background-size: cover;
}

.caja {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  background-color: hsla(0, 0%, 100%, 0.85);
  z-index: 5;
  border-radius: 5px;
}

.navbar{
  background-color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

.color-footer{
  background-color: #259234;
  color: white;
}

.color-footer a{
  color: white;
}

.redes{
  font-size: 40px;
}

.desarrollador{
  background-color: #01460a;
}

/** CAROUSEL DE IMAGENES */

.carousel{
  overflow: hidden;
  border-radius: 5px;
}

.carousel-item{
  overflow: hidden;
  border-radius: 5px;
}

.carousel-img{
	height: 200px;
	object-fit: none;
}

/*ESTILO DE LOS BOTONES*/

.boton{
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #1cb85d;
  box-shadow: 0px 5px 0px 0px #007531;
  border: none;
}

.boton:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.boton:hover {
  background-color: #2bd371;
}

.rojo{
  background-color: #900606;
  box-shadow: 0px 5px 0px 0px #5D0000;
  text-decoration: none;
}

.rojo:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  text-decoration: none;
}

.rojo:hover {
  background-color: #B92424;
  color: white;
  text-decoration: none;
}

/*AZUL*/
.azul{
  background-color: #1121b3;
  box-shadow: 0px 5px 0px 0px #24005d;
  text-decoration: none;
}

.azul:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  text-decoration: none;
}

.azul:hover {
  background-color: #2465b9;
  color: white;
  text-decoration: none;
}

