
/* TABLA CON VALORES */
table, td, th, tr, caption {  
  border: 0px solid #ddd;
  text-align: left;
  border-color: black;
  border-top: 0px;
  text-align: center;
}

.valor{
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

caption{
	background-color: green;
	color: white;
	border: 0px;
}

table {
  border-collapse: collapse;
  width: 90%;
}

th, td, caption {
  padding: 15px; 
}

.precios_referenciales{
  background-color: white;
  padding: 5px;
}

.precios_referenciales td{
  width: 50%;
}

.precios_referenciales tr td, th{
  padding: 5px;
}

.separador{
  border-right: black solid 1px;
}

.abajo{
  border-bottom: solid black 1px ;
}

.precios_referenciales .aviso{
  border-top: solid black 1px;
  border-radius: 10px;
}
